openapi: 3.1.0
info:
  title: API Shellrent
  description: >-
    API REST per gestire in modo automatico i servizi del proprio account
    Shellrent: domini, hosting, server, storage, certificati SSL, acquisti e
    fatturazione. L'accesso avviene tramite OAuth2 (client credentials) con
    scope specifici per area.
  version: 3.0.0
servers:
  - url: https://api.shellrent.com
    description: Server
security:
  - oauth2: []
tags:
  - name: OAuth
    description: Autenticazione e JWKS
  - name: Health
    description: Stato del servizio
  - name: Account
    description: Account
  - name: Billing
    description: Billing
  - name: Payment
    description: Payment
  - name: Purchases
    description: Purchases
  - name: Shop
    description: Shop
  - name: Domains
    description: Domains
  - name: Hosting
    description: Web Hosting
  - name: Server
    description: Server
  - name: Monitoring
    description: Monitoring
  - name: Ssl
    description: SSL Certificates
  - name: License
    description: License
  - name: Pec
    description: PEC
  - name: Storage
    description: Storage
  - name: Sms
    description: SMS
paths:
  /api/health:
    get:
      tags:
        - Health
      summary: Verifica lo stato del servizio
      description: Restituisce lo stato corrente dell'API.
      operationId: getHealth
      responses:
        '200':
          description: Servizio attivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Errore inatteso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
        - oauth2: []
  /api/v3/account:
    get:
      tags:
        - Account
      summary: My user account
      description: Get all details of my user account
      operationId: getAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - account:read
  /api/v3/creditnotes:
    get:
      tags:
        - Billing
      summary: List all Credit notes
      description: Get a list of all Credit notes
      operationId: listCreditNotes
      parameters:
        - name: date_emission_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: date_emission_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditnotePaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/creditnotes/{creditnote_id}:
    get:
      tags:
        - Billing
      summary: Get a Credit note
      description: Get details of a credit note
      operationId: getCreditNote
      parameters:
        - name: creditnote_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditnoteResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/creditnotes/{creditnote_id}/rows:
    get:
      tags:
        - Billing
      summary: List all credit note rows
      description: Get the list of all the rows of a Credit Note
      operationId: listCreditNoteRows
      parameters:
        - name: creditnote_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditnoteRowListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/creditnotes/{creditnote_id}/rows/{row_id}:
    get:
      tags:
        - Billing
      summary: Get a credit note row
      description: Get details of a Credit note row
      operationId: getCreditNoteRow
      parameters:
        - name: creditnote_id
          in: path
          required: true
          schema:
            type: integer
        - name: row_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditnoteRowResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/creditnotes/{creditnote_id}/download:
    get:
      tags:
        - Billing
      summary: Download credit note XML
      description: Download the XML file of a Credit note
      operationId: downloadCreditNoteXml
      parameters:
        - name: creditnote_id
          in: path
          required: true
          schema:
            type: integer
        - name: prefer_xml
          in: query
          description: >-
            If the credit note is signed, the original p7m file is returned; to
            force the download of the XML version, set this parameter to true
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK (file download)
          headers:
            Content-Length:
              description: File size in bytes.
              schema:
                type: integer
                format: int64
            Content-Disposition:
              description: Filename and content disposition (attachment).
              schema:
                type: string
            Last-Modified:
              description: File last modified datetime.
              schema:
                type: string
            Cache-Control:
              description: Cache directive.
              schema:
                type: string
            X-Content-Type-Options:
              description: Mime sniffing protection.
              schema:
                type: string
          content:
            text/xml:
              schema:
                type: string
                format: binary
            application/x-pkcs7-mime:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/creditnotes/{creditnote_id}/download/pdf:
    get:
      tags:
        - Billing
      summary: Download credit note PDF
      description: Download the courtesy PDF file of a Credit note
      operationId: downloadCreditNotePdf
      parameters:
        - name: creditnote_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK (file download)
          headers:
            Content-Length:
              description: Dimensione del file in byte.
              schema:
                type: integer
                format: int64
            Content-Disposition:
              description: Filename and content disposition (attachment).
              schema:
                type: string
            Last-Modified:
              description: File last modified datetime.
              schema:
                type: string
            Cache-Control:
              description: Cache directive.
              schema:
                type: string
            X-Content-Type-Options:
              description: Mime sniffing protection.
              schema:
                type: string
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - billing:read
  /api/v3/domains:
    get:
      tags:
        - Domains
      summary: List domains
      description: Get a list of all Domains
      operationId: listDomains
      parameters:
        - name: domain_full_name
          in: query
          description: Search by punycode domain name (exact match)
          required: false
          schema:
            type: string
        - name: domain_name
          in: query
          description: Search by punycode domain name (partial)
          required: false
          schema:
            type: string
        - name: tld_id
          in: query
          description: Obtain all domains by ID of TLD
          required: false
          schema:
            type: integer
        - name: tld_extension
          in: query
          description: Obtain all domains by TLD extension (punycode)
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}:
    get:
      tags:
        - Domains
      summary: Get domain
      description: Get a domain
      operationId: getDomain
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/availability:
    get:
      tags:
        - Domains
      summary: Domain whois
      description: Search availability status for a domain (whois)
      operationId: checkDomainAvailability
      parameters:
        - name: domain_full_name
          in: query
          description: Punycode full domain name (with TLD extension)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailabilityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}/dnssec:
    get:
      tags:
        - Domains
      summary: DNSSEC
      description: Get DNSSEC data records
      operationId: getDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDnssecResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
    post:
      tags:
        - Domains
      summary: Activate DNSSEC
      description: Activate DNSSEC (for domains with "standard" nameservers only)
      operationId: activateDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
    delete:
      tags:
        - Domains
      summary: Deactivate DNSSEC
      description: >-
        Deactivate DNSSEC (for domains with "standard" nameservers) or remove
        all DNSSEC data records (for domains with "external" nameservers)
      operationId: deactivateDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
    patch:
      tags:
        - Domains
      summary: Change DNSSEC data
      description: >-
        Add or change DNSSEC data records (for domains with "external"
        nameservers only)
      operationId: updateDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnssecRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dnssec/can-activate:
    get:
      tags:
        - Domains
      summary: Can activate DNSSEC
      description: Know if it's possible to activate DNSSEC
      operationId: canActivateDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDnssecCanActivateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}/dnssec/can-deactivate:
    get:
      tags:
        - Domains
      summary: Can deactivate DNSSEC
      description: Know if it's possible to deactivate DNSSEC
      operationId: canDeactivateDomainDnssec
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDnssecCanDeactivateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}/dns:
    get:
      tags:
        - Domains
      summary: DNS Zone
      description: DNS Zone details
      operationId: getDomainDnsZone
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsZoneResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
    patch:
      tags:
        - Domains
      summary: Change DNS Zone data
      description: Change DNS Zone data
      operationId: updateDomainDnsZone
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsZoneRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsZoneResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dns/can-change-nameservers:
    get:
      tags:
        - Domains
      summary: Can change Nameservers
      description: Know if it's possible to change Nameservers
      operationId: canChangeDomainNameservers
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCanChangeNameserversResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}/dns/standard:
    put:
      tags:
        - Domains
      summary: 'Nameservers: standard'
      description: Activate "standard" nameservers on domain
      operationId: setDomainStandardNameservers
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dns/cloudflare:
    put:
      tags:
        - Domains
      summary: 'Nameservers: Cloudflare'
      description: Activate "Cloudflare" nameservers on domain
      operationId: setDomainCloudflareNameservers
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsNameserversCloudflareRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dns/change-nameservers:
    patch:
      tags:
        - Domains
      summary: 'Nameservers: external'
      description: Activate "external" nameservers or change current "external" nameservers
      operationId: setDomainExternalNameservers
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsNameserversChangeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dns/records:
    get:
      tags:
        - Domains
      summary: List DNS records
      description: >-
        Get a list of all DNS Records. The results are paginated but the
        pagination does not have information about the total number of items and
        the total number of pages. Only forward pages navigation is supported.
      operationId: listDomainDnsRecords
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: type
          in: query
          description: Search by record type
          required: false
          schema:
            type: string
        - name: host
          in: query
          description: Search by record host (partial match)
          required: false
          schema:
            type: string
        - name: destination
          in: query
          description: Search by record destination (partial match)
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordPaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
    post:
      tags:
        - Domains
      summary: Create DNS record
      description: Create a new DNS record
      operationId: createDomainDnsRecord
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsRecordRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/dns/records/{record_id}:
    get:
      tags:
        - Domains
      summary: Get DNS record
      description: Get a DNS record
      operationId: getDomainDnsRecord
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: record_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
    delete:
      tags:
        - Domains
      summary: Delete DNS record
      description: Delete an existing DNS record
      operationId: deleteDomainDnsRecord
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: record_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
    patch:
      tags:
        - Domains
      summary: Modify DNS record
      description: Modify an existing DNS record
      operationId: updateDomainDnsRecord
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: record_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDnsRecordChangeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/contacts:
    get:
      tags:
        - Domains
      summary: List domain contacts
      description: Get all contacts of domain
      operationId: listDomainContacts
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainContactListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
  /api/v3/domains/{domain_id}/contacts/{domain_contact_id}:
    get:
      tags:
        - Domains
      summary: Get a contact
      description: Get a contact of domain
      operationId: getDomainContact
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: domain_contact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainContactResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:read
    patch:
      tags:
        - Domains
      summary: Modify contact
      description: Modify a contact's data
      operationId: updateDomainContact
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
        - name: domain_contact_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainContactRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainContactResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/domains/{domain_id}/contacts/apply:
    post:
      tags:
        - Domains
      summary: Apply contacts changes
      description: >-
        Apply changes made on contacts to the domain (send changes to domain's
        Registry)
      operationId: applyDomainContactChanges
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - domains:write
  /api/v3/hostings:
    get:
      tags:
        - Hosting
      summary: List all hostings
      description: Get a list of all hostings
      operationId: listHostings
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingPaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting
      description: Get details of a hosting
      operationId: getHosting
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create subdomain
      description: Create subdomain
      operationId: createHostingSubdomain
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingSubdomainCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
    delete:
      tags:
        - Hosting
      summary: Delete subdomain
      description: Delete subdomain
      operationId: deleteHostingSubdomain
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/credentials:
    get:
      tags:
        - Hosting
      summary: Get hosting credentials
      description: Get hosting credentials
      operationId: getHostingCredentials
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingCredentialListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}/dns-records:
    get:
      tags:
        - Hosting
      summary: Get hosting DNS records
      description: Get hosting DNS records
      operationId: listHostingDnsRecords
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingDnsRecordListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}/databases:
    get:
      tags:
        - Hosting
      summary: Get hosting databases
      description: Get hosting databases
      operationId: listHostingDatabases
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingDatabaseListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create hosting database
      description: Create hosting database
      operationId: createHostingDatabase
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingDatabaseCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingDatabaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/databases/{database_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting database
      description: Get hosting database
      operationId: getHostingDatabase
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: database_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingDatabaseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}/email/aliases:
    get:
      tags:
        - Hosting
      summary: List hosting email aliases
      description: Get list of email aliases for a hosting (excluding catch-all)
      operationId: listHostingEmailAliases
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailAliasListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create hosting email alias
      description: Create a new email alias for the hosting
      operationId: createHostingEmailAlias
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEmailAliasCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailAliasResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/email/aliases/{alias_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting email alias
      description: Get details of a single email alias
      operationId: getHostingEmailAlias
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: alias_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailAliasResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    delete:
      tags:
        - Hosting
      summary: Delete hosting email alias
      description: Delete an email alias
      operationId: deleteHostingEmailAlias
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: alias_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/email/catch-all:
    get:
      tags:
        - Hosting
      summary: Get catch-all alias
      description: Get catch-all alias status and destinations
      operationId: getHostingCatchAll
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailCatchAllResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    put:
      tags:
        - Hosting
      summary: Update catch-all alias
      description: Update a catch-all alias destinations
      operationId: updateHostingCatchAll
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEmailCatchAllRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailCatchAllResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
    post:
      tags:
        - Hosting
      summary: Create catch-all alias
      description: Create a catch-all alias with destinations
      operationId: createHostingCatchAll
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEmailCatchAllRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailCatchAllResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
    delete:
      tags:
        - Hosting
      summary: Delete catch-all alias
      description: Delete the catch-all alias
      operationId: deleteHostingCatchAll
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/allow-lists:
    get:
      tags:
        - Hosting
      summary: List hosting allow list
      description: Get list of allow list entries for hosting
      operationId: listHostingAllowListEntries
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/HostingEmailAllowListPaginatedListResponse
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create allow list entry
      description: Create a new allow list entry for hosting
      operationId: createHostingAllowListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEmailWblistRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailAllowListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/allow-lists/{allow_list_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting allow list entry
      description: Get allow list entry details for hosting
      operationId: getHostingAllowListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: allow_list_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailAllowListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    delete:
      tags:
        - Hosting
      summary: Delete allow list entry
      description: Delete an allow list entry for hosting
      operationId: deleteHostingAllowListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: allow_list_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/block-lists:
    get:
      tags:
        - Hosting
      summary: List hosting block list
      description: Get list of block list entries for hosting
      operationId: listHostingBlockListEntries
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailBlocListPaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create block list entry
      description: Create a new block list entry for hosting
      operationId: createHostingBlockListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEmailWblistRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailBlocListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/block-lists/{block_list_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting block list entry
      description: Get block list entry details for hosting
      operationId: getHostingBlockListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: block_list_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEmailBlocListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    delete:
      tags:
        - Hosting
      summary: Delete block list entry
      description: Delete a block list entry for hosting
      operationId: deleteHostingBlockListEntry
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: block_list_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/cronjobs:
    get:
      tags:
        - Hosting
      summary: List hosting cronjobs
      description: Get list of cronjobs for a hosting
      operationId: listHostingCronjobs
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingCronjobPaginatedListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    post:
      tags:
        - Hosting
      summary: Create hosting cronjob
      description: Create a new cronjob for hosting
      operationId: createHostingCronjob
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingCronjobCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingCronjobResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/cronjobs/{cronjob_id}:
    get:
      tags:
        - Hosting
      summary: Get hosting cronjob
      description: Get a cronjob details for hosting
      operationId: getHostingCronjob
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: cronjob_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingCronjobResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    delete:
      tags:
        - Hosting
      summary: Delete hosting cronjob
      description: Delete a cronjob for hosting
      operationId: deleteHostingCronjob
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: cronjob_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/modsecurity:
    get:
      tags:
        - Hosting
      summary: Get ModSecurity status
      description: Get ModSecurity configuration status
      operationId: getHostingModSecurity
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingModSecurityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
    patch:
      tags:
        - Hosting
      summary: Update ModSecurity status
      description: Enable or disable ModSecurity
      operationId: updateHostingModSecurity
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingModSecurityUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingModSecurityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:write
  /api/v3/hostings/{hosting_id}/modsecurity/scans:
    get:
      tags:
        - Hosting
      summary: List ModSecurity scans
      description: Get ModSecurity scan history
      operationId: listHostingModSecurityScans
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/HostingModSecurityScanPaginatedListResponse
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}/modsecurity/scans/{scan_id}:
    get:
      tags:
        - Hosting
      summary: Get ModSecurity scan
      description: Get ModSecurity scan details
      operationId: getHostingModSecurityScan
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
        - name: scan_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingModSecurityScanResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth2:
            - hosting:read
  /api/v3/hostings/{hosting_id}/modsecurity/rules:
    get:
      tags:
        - Hosting
      summary: List ModSecurity rules
      description: Get ModSecurity rules for a hosting
      operationId: listHostingModSecurityRules
      parameters:
        - name: hosting_id
          in: path
          required: true
          schema:
            type: integer
      responses:
[...]
